.catalogo-body{
    min-width: 250px;
}
.tilte-Catalogo {
    color: white;
    padding-left: 0px;
}

.paginacion-tabla {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 280px;
}

.selected {
    background-color: blueviolet;
}

.tabla-container {
    width: 100%;
    overflow-x: auto;
}

 thead {
  background-color: rgba(24, 148, 230, 0.315);
} 

