.ml-resp-1 {
  margin-left: 10%;
}

.mr-resp-1 {
  margin-right: 10%;
}

.botones {
  display: none;
}

.add {
  display: block;
}

@media (min-width: 576px) {

  .botones {
    display: flex;
  }

  .add {
    display: none;
  }
}

.imgLogo {
    height: 50px;
    width: 50px;
  }

  .navbar{
    min-width: 300px;
  }