h2 {
    color: black;
}

.contenedor {
    height: 100%;
    background-color: gray;
    padding: 60px;
}

.single-product-image img {
    width: 100%;
}

.single-product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
}

.single-product-info {
    padding: 20px;
    min-width: 200px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.info-precio {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-text {
    margin: 0px;
    font-weight: bold;
}

.single-product-info h2 {
    font-size: 30px;
    font-family: none;
    font-weight: bolder;
}

.single-product {
    display: flex;
    justify-content: center;
}